amqp==5.3.1 ; python_version == "3.11" or python_version >= "3.12"
asgiref==3.8.1 ; python_version == "3.11" or python_version >= "3.12"
async-timeout==5.0.1 ; python_version == "3.11" and python_full_version < "3.11.3"
billiard==4.2.1 ; python_version == "3.11" or python_version >= "3.12"
celery==5.5.2 ; python_version == "3.11" or python_version >= "3.12"
click-didyoumean==0.3.1 ; python_version == "3.11" or python_version >= "3.12"
click-plugins==1.1.1 ; python_version == "3.11" or python_version >= "3.12"
click-repl==0.3.0 ; python_version == "3.11" or python_version >= "3.12"
click==8.1.8 ; python_version == "3.11" or python_version >= "3.12"
colorama==0.4.6 ; python_version == "3.11" and platform_system == "Windows" or python_version == "3.11" and sys_platform == "win32" or python_version >= "3.12" and platform_system == "Windows" or python_version >= "3.12" and sys_platform == "win32"
diff-match-patch==20241021 ; python_version == "3.11" or python_version >= "3.12"
django-celery-results==2.6.0 ; python_version == "3.11" or python_version >= "3.12"
django-cors-headers==4.7.0 ; python_version == "3.11" or python_version >= "3.12"
django-filter==25.1 ; python_version == "3.11" or python_version >= "3.12"
django-import-export==4.3.7 ; python_version == "3.11" or python_version >= "3.12"
django==5.2 ; python_version == "3.11" or python_version >= "3.12"
djangorestframework==3.16.0 ; python_version == "3.11" or python_version >= "3.12"
drf-yasg==1.21.10 ; python_version == "3.11" or python_version >= "3.12"
et-xmlfile==2.0.0 ; python_version == "3.11" or python_version >= "3.12"
flower==2.0.1 ; python_version == "3.11" or python_version >= "3.12"
gunicorn==23.0.0 ; python_version == "3.11" or python_version >= "3.12"
honcho==2.0.0 ; python_version == "3.11" or python_version >= "3.12"
humanize==4.12.3 ; python_version == "3.11" or python_version >= "3.12"
inflection==0.5.1 ; python_version == "3.11" or python_version >= "3.12"
kombu==5.5.3 ; python_version == "3.11" or python_version >= "3.12"
numpy==2.2.5 ; python_version == "3.11" or python_version >= "3.12"
openpyxl==3.1.5 ; python_version == "3.11" or python_version >= "3.12"
packaging==25.0 ; python_version == "3.11" or python_version >= "3.12"
pandas==2.2.3 ; python_version == "3.11" or python_version >= "3.12"
prometheus-client==0.21.1 ; python_version == "3.11" or python_version >= "3.12"
prompt-toolkit==3.0.51 ; python_version == "3.11" or python_version >= "3.12"
psycopg2-binary==2.9.10 ; python_version == "3.11" or python_version >= "3.12"
pyjwt==2.9.0 ; python_version == "3.11" or python_version >= "3.12"
python-dateutil==2.9.0.post0 ; python_version == "3.11" or python_version >= "3.12"
python-dotenv==1.1.0 ; python_version == "3.11" or python_version >= "3.12"
pytz==2025.2 ; python_version == "3.11" or python_version >= "3.12"
pyyaml==6.0.2 ; python_version == "3.11" or python_version >= "3.12"
redis==5.3.0 ; python_version == "3.11" or python_version >= "3.12"
six==1.17.0 ; python_version == "3.11" or python_version >= "3.12"
sqlparse==0.5.3 ; python_version == "3.11" or python_version >= "3.12"
tablib==3.8.0 ; python_version == "3.11" or python_version >= "3.12"
tornado==6.4.2 ; python_version == "3.11" or python_version >= "3.12"
tzdata==2025.2 ; python_version == "3.11" or python_version >= "3.12"
uritemplate==4.1.1 ; python_version == "3.11" or python_version >= "3.12"
vine==5.1.0 ; python_version == "3.11" or python_version >= "3.12"
wcwidth==0.2.13 ; python_version == "3.11" or python_version >= "3.12"
